:root {
	--bgLight1: #ffffff;
	--bgLight2: #f4f6f8;
	--bgLight3: #e9f2f2;
	--bgLight4: #e9eaec;
	--bgLight5: #dae1e5;

	--bgDark1: #000000;
	--bgDark2: #182d35;
	--bgDark3: #2d3f4c;
	--bgDark4: #3d545d;
	--bgDark5: #555869;

	--bgComplementary1: #e1f3fb;
	--bgComplementary2: #cbedfc;
	--bgComplementary3: #93ddfb;
	--bgComplementary4: #39c9f3;
	--bgComplementary5: #00c4f5;
	--bgComplementary6: #0080cb;

	--error: rgb(255, 95, 95);
	--errorLight: rgba(255, 95, 95, 0.501);
	--warning: rgb(255, 232, 57);
	--warningLight: rgba(255, 232, 57, 0.504);
	--correct: rgb(19, 228, 37);
	--correctLight: rgba(19, 228, 36, 0.507);
}
